@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.widget {
    background: #FBFBFB;
    font-family: 'Montserrat';
    border: 1px solid #BDBDBD;
    box-shadow: 0px 0px 74px rgba(0, 0, 0, 0.15);
    border-radius: 43px;
    width: 711px;
    height: 1078px;
    padding: 38px 36px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.widget__row {
    display: flex;
    gap: 33px;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 30px;
    padding: 26px 28px;
}

.box__label {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7B7B7B;
}

.box__value {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.col1 {
    width: 268px;
}

.col1o5 {
    width: 331px;
}

.col2 {
    width: 268px;
}
.col2o5 {
    width: 334px;
}